{% extends 'base.html' %}

{% block title %}修改密码{% end %}

{% block style_area %}
    #modifyBox {
        margin-left:20px;
        margin-top:10px;
    }
    #modifyBox p input{
        width:170px
        <!--height:20px;-->
        font-size:20px;
        border:1px solid black;
    }
    #subBtn {
        margin-top:18px;
        width:228px;
        background-color:red;
        border:1px solid red;
        border-radius:4px;
        color:white;
        font-size:20px;
    }
{% end %}

{% block content %}
<form id="modifyBox" action="/modifyPass" method="post">
    <p>新密码:<input type="password" name="password" placeholder="新密码" required/></p>
    <input id="subBtn" type="submit" value="修改"/>
</form>
{%end%}